aalagic_projekt/aalagic_web_modul_3/src/wsdl/localhost_8084/aalagic_web_modul_1/AerodromiWS_2.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://serveri.ws.aalagic.nwtis.foi.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://serveri.ws.aalagic.nwtis.foi.org/" name="AerodromiWS_2">
<types>
<xsd:schema>
<xsd:import namespace="http://serveri.ws.aalagic.nwtis.foi.org/" schemaLocation="http://localhost:8084/aalagic_web_modul_1/AerodromiWS_2?xsd=1"/>
</xsd:schema>
</types>
<message name="dajAerodromeIzBlizine">
<part name="parameters" element="tns:dajAerodromeIzBlizine"/>
</message>
<message name="dajAerodromeIzBlizineResponse">
<part name="parameters" element="tns:dajAerodromeIzBlizineResponse"/>
</message>
<message name="dajLetoveAviona">
<part name="parameters" element="tns:dajLetoveAviona"/>
</message>
<message name="dajLetoveAvionaResponse">
<part name="parameters" element="tns:dajLetoveAvionaResponse"/>
</message>
<message name="dajAerodromeNaziv">
<part name="parameters" element="tns:dajAerodromeNaziv"/>
</message>
<message name="dajAerodromeNazivResponse">
<part name="parameters" element="tns:dajAerodromeNazivResponse"/>
</message>
<message name="dajAerodromeDrzava">
<part name="parameters" element="tns:dajAerodromeDrzava"/>
</message>
<message name="dajAerodromeDrzavaResponse">
<part name="parameters" element="tns:dajAerodromeDrzavaResponse"/>
</message>
<message name="dajAerodromeKorisnika">
<part name="parameters" element="tns:dajAerodromeKorisnika"/>
</message>
<message name="dajAerodromeKorisnikaResponse">
<part name="parameters" element="tns:dajAerodromeKorisnikaResponse"/>
</message>
<message name="dajLetoveAerodroma">
<part name="parameters" element="tns:dajLetoveAerodroma"/>
</message>
<message name="dajLetoveAerodromaResponse">
<part name="parameters" element="tns:dajLetoveAerodromaResponse"/>
</message>
<message name="dajUdaljenostAerodroma">
<part name="parameters" element="tns:dajUdaljenostAerodroma"/>
</message>
<message name="dajUdaljenostAerodromaResponse">
<part name="parameters" element="tns:dajUdaljenostAerodromaResponse"/>
</message>
<portType name="AerodromiWS_2">
<operation name="dajAerodromeIzBlizine">
<input wsam:Action="http://serveri.ws.aalagic.nwtis.foi.org/AerodromiWS_2/dajAerodromeIzBlizineRequest" message="tns:dajAerodromeIzBlizine"/>
<output wsam:Action="http://serveri.ws.aalagic.nwtis.foi.org/AerodromiWS_2/dajAerodromeIzBlizineResponse" message="tns:dajAerodromeIzBlizineResponse"/>
</operation>
<operation name="dajLetoveAviona">
<input wsam:Action="http://serveri.ws.aalagic.nwtis.foi.org/AerodromiWS_2/dajLetoveAvionaRequest" message="tns:dajLetoveAviona"/>
<output wsam:Action="http://serveri.ws.aalagic.nwtis.foi.org/AerodromiWS_2/dajLetoveAvionaResponse" message="tns:dajLetoveAvionaResponse"/>
</operation>
<operation name="dajAerodromeNaziv">
<input wsam:Action="http://serveri.ws.aalagic.nwtis.foi.org/AerodromiWS_2/dajAerodromeNazivRequest" message="tns:dajAerodromeNaziv"/>
<output wsam:Action="http://serveri.ws.aalagic.nwtis.foi.org/AerodromiWS_2/dajAerodromeNazivResponse" message="tns:dajAerodromeNazivResponse"/>
</operation>
<operation name="dajAerodromeDrzava">
<input wsam:Action="http://serveri.ws.aalagic.nwtis.foi.org/AerodromiWS_2/dajAerodromeDrzavaRequest" message="tns:dajAerodromeDrzava"/>
<output wsam:Action="http://serveri.ws.aalagic.nwtis.foi.org/AerodromiWS_2/dajAerodromeDrzavaResponse" message="tns:dajAerodromeDrzavaResponse"/>
</operation>
<operation name="dajAerodromeKorisnika">
<input wsam:Action="http://serveri.ws.aalagic.nwtis.foi.org/AerodromiWS_2/dajAerodromeKorisnikaRequest" message="tns:dajAerodromeKorisnika"/>
<output wsam:Action="http://serveri.ws.aalagic.nwtis.foi.org/AerodromiWS_2/dajAerodromeKorisnikaResponse" message="tns:dajAerodromeKorisnikaResponse"/>
</operation>
<operation name="dajLetoveAerodroma">
<input wsam:Action="http://serveri.ws.aalagic.nwtis.foi.org/AerodromiWS_2/dajLetoveAerodromaRequest" message="tns:dajLetoveAerodroma"/>
<output wsam:Action="http://serveri.ws.aalagic.nwtis.foi.org/AerodromiWS_2/dajLetoveAerodromaResponse" message="tns:dajLetoveAerodromaResponse"/>
</operation>
<operation name="dajUdaljenostAerodroma">
<input wsam:Action="http://serveri.ws.aalagic.nwtis.foi.org/AerodromiWS_2/dajUdaljenostAerodromaRequest" message="tns:dajUdaljenostAerodroma"/>
<output wsam:Action="http://serveri.ws.aalagic.nwtis.foi.org/AerodromiWS_2/dajUdaljenostAerodromaResponse" message="tns:dajUdaljenostAerodromaResponse"/>
</operation>
</portType>
<binding name="AerodromiWS_2PortBinding" type="tns:AerodromiWS_2">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="dajAerodromeIzBlizine">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajLetoveAviona">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajAerodromeNaziv">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajAerodromeDrzava">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajAerodromeKorisnika">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajLetoveAerodroma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajUdaljenostAerodroma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AerodromiWS_2">
<port name="AerodromiWS_2Port" binding="tns:AerodromiWS_2PortBinding">
<soap:address location="http://localhost:8084/aalagic_web_modul_1/AerodromiWS_2"/>
</port>
</service>
</definitions>